*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#9FD4D1;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    position: fixed;
    z-index: 2;
}
nav{
    background-color: white;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 10px double lightblue;
    border-top: 10px double lightblue;
}
.centriranje{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
nav .centriranje{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    margin-right: 20px;
    
}
ul{
    list-style: none;
}
.Logo a{
    color:cadetblue;
    font-size: 40px;
    text-decoration: none;
}
.Logo span{
    color:lightblue;
    font-size: 40px;
}
nav ul li a{
    text-decoration: none;
    margin-right: 20px;
    padding: 15px;
    display: flex;
    color:cadetblue;
    font-weight: 700;
    font-size: 20px;
}
li:hover{
    background-color:cadetblue;
    border-radius: 15px;
    
}
ul a:hover{
    color:white;
}
#cover{
    background: url('../assets/plaza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    text-align: center;
    background-position: center;
    border-bottom: 10px double white;

}
#cover h2{
    color:white;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    padding-top: 340px;
}
#transparent{
    width: 100%;
    height:inherit;
    background: rgba(0,0,0,0.5);
    
}
#podNaslov{
    margin-top: 80px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
}
#podNaslov h1{
    color:white;
    font-size: 45px;
}
.oblak{
    z-index: 1;
	display: flex;
    justify-content: center; 
    gap: 20px;               
    margin: 40px 0;
}
.oblacic {
    background: #f0f0f0;
    border-radius: 25px;
    padding: 30px 20px;
    width: 300px;             
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    height: 160px;
}
.oblacic:hover{
    transform: scale(1.03);
}
.oblak-ikonica {
    width: 60px;            
    height: 60px;
    margin-bottom: 10px;
}
/*Info*/
.info {
    width: 55%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.info h2 {
    font-size: 45px;
    margin-bottom: 40px;
    font-weight: 700;
    color: white;
}


.info-cover {
    background: url('../assets/cafe-bar1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; 
    border-radius: 20px;
    border: 5px double white;
    
    
}


.info-transparent {
    width: 100%;
    height:inherit;
    background: rgba(0,0,0,0.4); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.info-transparent p {
    color: white;
    font-size: 23px;
    line-height: 1.5;
    max-width: 600px;
    text-align: justify;
    text-align-last: center;
    padding: 20px;
    
}
/*Radno vreme*/
.radno-zabava-oblak {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    margin-bottom: 100px;

}

.radno-zabava-oblak .oblacic {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 25px 30px;
    width: 250px;       
    min-height: 230px;  
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radno-zabava-oblak .oblacic h2 {
    font-size: 24px;
    color: #5D8583;
    margin-bottom: 20px;
}

.radno-zabava-oblak .oblacic p {
    font-size: 16px;
    color: black;
    line-height: 1.6;
    margin: 0;
}
.radno-zabava-oblak #rezervacija{
    width: 120px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #5D8583;
    color: #5D8583;
    margin-top:60px;
    padding: 15px;
    display: flex;
    align-items: center;
    
    
}
#rezervacija:hover{
    background-color: #5D8583;
    color: white;
}
.oblacic a{
    text-decoration: none;
}
/*Footer*/
#kontakt-sekcija{
    background-color: white;
    height: 100px;
    padding: 20px;
    color:#333;
    display: flex;
    justify-content: space-between;
    border-top: 10px double cadetblue;
    
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.footer-top .Logo{
    margin-left: 120px;
    margin-top:0px;  
}
.footer-nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 30px; 
    
}
.footer-nav a{
    color: cadetblue;
    text-decoration: none;
    font-size: 20px;
}
.footer-nav a:hover{
    text-decoration: underline;
}
.desno a{
    color:cadetblue;
    margin-left: 15px;
    font-size: 28px;
}
.desno a:hover{
    color:skyblue;
}
.desno{
    display: flex;
    align-items: center;
    margin-right:110px;
    
}

/*Meni*/
.meni-sekcija {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 250px;
    margin-bottom: 200px;
    
}
.meni-kategorija {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.meni-stavke{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border:double #5D8583 5px;
    width: 30%;
}

.meni-kategorija h2 {
    font-size: 50px;
    color: #5D8583;
    margin-bottom: 20px;
    text-align: center;
}
.meni-kategorija p {
    font-size: 22px;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.naziv{
    color:lightblue;
}

/*Kontakt.html*/
#kontakt {
    color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 120px 40px;
    text-align: center;
    align-items: center;
}


#kontakt h1 {
    font-size: 40px;
    margin-bottom: 10px;

}


.kontakt-opis {
    color:#5D8583;
    margin-bottom: 50px;
    font-size: 18px;
}


.kontakt-forma {
    max-width: 700px;
    text-align: left;

}
.komentari{
    width: 700px;
    
    text-align: left;
    margin-top:90px;
}


.kontakt-forma label,
.komentari label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.inp{
    width: 270px;
}

.kontakt-forma input{
    padding: 14px;
    margin-bottom: 25px;
    border: 2px solid #5D8583;
    border-radius: 14px;
    font-size: 16px;
}
.komentari textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 25px;
    border: 2px solid #5D8583;
    border-radius: 14px;
    font-size: 16px;
}

.komentari textarea {
    height: 150px;
    resize: none;
    box-sizing: border-box;
    
}


button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    background: white;
    border: 2px double #5D8583;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 14px;
}

button:hover {
    background: lightblue;
}
#pomeranje{
    position: absolute;
    left: 53%;
    top:37%;
}
.radio-grupa {
    display: flex;
    gap: 40px;
    
}


.radio-grupa label {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color:#5D8583;
}

.radio-grupa input {
    margin:0;
}
#l1{
    gap:10px;
}
#l2{
    gap:10px;
}
#Drop{
    position: absolute;
    top:26%;
    left:53%;
    z-index: 1;
}
select
{
    padding: 14px;
    width: 200px;
    margin-bottom: 25px;
    border: 2px solid #5D8583;
    border-radius: 14px;
    font-size: 16px;
}
#Drop label{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.kontakt-forma button{
    margin-top: 35px;
      
}
#hd{
    z-index: 2;
}
/*Galerija*/ 
.galerija-sekcija {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.galerija-naslov {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    color: white;
}

.galerija-slike {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.galerija-slika {
    width: 30%;
    height: 300px;
    margin-bottom: 50px;
}

.galerija-slika img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:3px solid white;
}
.galerija-slika p{
    margin-top:10px;
    color: white;
    font-size: 20px;
}
/*Autor*/ 
.autor {
    width: 100%;
    padding-top:300px;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.autor-kartica {
    background: rgba(255,255,255,0.2);
    padding: 60px 40px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
    border: 2px solid white;
}

.autor-slika {
    width: 220px;
    height: 280px;
    border-radius:20%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid white;
}

.autor-ime {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.autor-info {
    font-size: 18px;
    line-height: 1.6;
    text-align:justify;
    text-align-last: center;
    
}